@mixin font-style ($color, $font-family, $font-size, $font-weight) {
  color: $color;
  font-family: $font-family;
  font-size: $font-size;
  font-weight: $font-weight;
}
.header {
  padding: 40px 7.2% 0 7.2%;
  min-height: 100vh;
  background: url(../images/bg-header.jpg);
  background-color: rgba(39,42,50,0.8);
  background-size: cover;
  background-repeat: no-repeat;
  &__top {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    .logo {
      width: 115px;
      height: 20px;
    }
  }
  .nav__menu-item {
    list-style-type: none;
    display: inline-block;
    &-link {
      @include font-style (#fffefe, "Open Sans", 16px, 400);
      vertical-align: middle;
      padding-top: 1px;
      display: block;
      width: 85px;
      height: 30px;
      text-align: center;
      text-decoration: none;
      position: relative;
      border: 2px solid transparent;
      &:hover {
        border: 2px solid #fff;
        border-radius: 16px;
        transform: scale(1.07);
        transition: all 0.7s;
      }
    }
  }
  @media all and (max-width: 700px) {
    .nav__menu-item {
      margin-right: 0;
      display: block;
      margin-bottom: 5px;
    }
    .header__img-link {
      margin-bottom: 20px;
    }
  }
  &__title {
    max-width: 600px;
    margin-right: auto;
    margin-left: auto;
    text-align: center;
    h1 {
      @include font-style (#fff, "Source Sans Pro", 35px, 300);
      text-transform: uppercase;
      min-width: 380px;
      margin: 225px 0 40px 0;
      letter-spacing: 7px;
    }
    p {
      @include font-style (#fffefe, "Open Sans", 16px, 400);
      line-height: 28px;
    }
  }
  @media all and (max-width: 700px) {
    .header__title h1 {
      margin-top: 90px;
    }
  }
  &__img-link {
    width: 35px;
    height: 35px;
    display: block;
    border-radius: 50%;
    margin: 10% auto 0 auto;
    &:hover {
      box-shadow: 0 0 10px rgba(255,255,255,0.7);
      transform: scale(1.07);
      transition: all 0.5s;
    }
  }
}