@mixin font-style ($color, $font-family, $font-size, $font-weight) {
  color: $color;
  font-family: $font-family;
  font-size: $font-size;
  font-weight: $font-weight;
}
.portfolio {
  background-color: #f3f3f3;
  min-height: 1405px;
  padding: 85px 6% 0 6%;
  width: 100%;
  &__title {
    @include font-style (#333b46, "Source Sans Pro", 20px, 400);
    width: 300px;
    letter-spacing: 4px;
    margin: 0 auto;
    text-align: center;
    &-text {
      @include font-style (#81868e, "Open Sans", 14px, 400);
      width: 460px;
      line-height: 25px;
      margin: 35px auto 50px auto;
      text-align: center;
    }
  }
  #filters-container {
    width: 370px;
    margin: 0 auto 60px auto;
    display: flex;
    justify-content: space-between;
  }
  .filter-btn {
    @include font-style (#464646, "Open Sans", 16px, 400);
    background: transparent;
    border: none;
    outline: none;
    position: relative;
    &:after {
      content: "";
      display: block;
      width: 38px;
      border-top: 2px solid transparent;
      margin: 9px auto 0 auto;
    }
    &:hover {
      cursor: pointer;
    }
    &--active {
      &:after {
        content: "";
        display: block;
        width: 38px;
        border-top: 2px solid #19bd9a;
        margin: 9px auto 0 auto;
      }
    }
  }
  #portfolio-images {
    max-width: 1105px;
    margin: 0 auto;
    &-inner {
      @extend #portfolio-images;
      .item {
        width: 270px;
        margin-bottom: 5px;
        img {
          width: 100%;
          height: 100%;
        }
      }
    }
  }
}