.header {
  padding: 40px 7.2% 0 7.2%;
  min-height: 100vh;
  background: url(../images/bg-header.jpg);
  background-color: rgba(39, 42, 50, 0.8);
  background-size: cover;
  background-repeat: no-repeat; }
  .header__top {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between; }
    .header__top .logo {
      width: 115px;
      height: 20px; }
  .header .nav__menu-item {
    list-style-type: none;
    display: inline-block; }
    .header .nav__menu-item-link {
      color: #fffefe;
      font-family: "Open Sans";
      font-size: 16px;
      font-weight: 400;
      vertical-align: middle;
      padding-top: 1px;
      display: block;
      width: 85px;
      height: 30px;
      text-align: center;
      text-decoration: none;
      position: relative;
      border: 2px solid transparent; }
      .header .nav__menu-item-link:hover {
        border: 2px solid #fff;
        border-radius: 16px;
        transform: scale(1.07);
        transition: all 0.7s; }
  @media all and (max-width: 700px) {
    .header .nav__menu-item {
      margin-right: 0;
      display: block;
      margin-bottom: 5px; }
    .header .header__img-link {
      margin-bottom: 20px; } }
  .header__title {
    max-width: 600px;
    margin-right: auto;
    margin-left: auto;
    text-align: center; }
    .header__title h1 {
      color: #fff;
      font-family: "Source Sans Pro";
      font-size: 35px;
      font-weight: 300;
      text-transform: uppercase;
      min-width: 380px;
      margin: 225px 0 40px 0;
      letter-spacing: 7px; }
    .header__title p {
      color: #fffefe;
      font-family: "Open Sans";
      font-size: 16px;
      font-weight: 400;
      line-height: 28px; }
  @media all and (max-width: 700px) {
    .header .header__title h1 {
      margin-top: 90px; } }
  .header__img-link {
    width: 35px;
    height: 35px;
    display: block;
    border-radius: 50%;
    margin: 10% auto 0 auto; }
    .header__img-link:hover {
      box-shadow: 0 0 10px rgba(255, 255, 255, 0.7);
      transform: scale(1.07);
      transition: all 0.5s; }

.portfolio {
  background-color: #f3f3f3;
  min-height: 1405px;
  padding: 85px 6% 0 6%;
  width: 100%; }
  .portfolio__title {
    color: #333b46;
    font-family: "Source Sans Pro";
    font-size: 20px;
    font-weight: 400;
    width: 300px;
    letter-spacing: 4px;
    margin: 0 auto;
    text-align: center; }
    .portfolio__title-text {
      color: #81868e;
      font-family: "Open Sans";
      font-size: 14px;
      font-weight: 400;
      width: 460px;
      line-height: 25px;
      margin: 35px auto 50px auto;
      text-align: center; }
  .portfolio #filters-container {
    width: 370px;
    margin: 0 auto 60px auto;
    display: flex;
    justify-content: space-between; }
  .portfolio .filter-btn {
    color: #464646;
    font-family: "Open Sans";
    font-size: 16px;
    font-weight: 400;
    background: transparent;
    border: none;
    outline: none;
    position: relative; }
    .portfolio .filter-btn:after {
      content: "";
      display: block;
      width: 38px;
      border-top: 2px solid transparent;
      margin: 9px auto 0 auto; }
    .portfolio .filter-btn:hover {
      cursor: pointer; }
    .portfolio .filter-btn--active:after {
      content: "";
      display: block;
      width: 38px;
      border-top: 2px solid #19bd9a;
      margin: 9px auto 0 auto; }
  .portfolio #portfolio-images, .portfolio #portfolio-images-inner {
    max-width: 1105px;
    margin: 0 auto; }
    .portfolio #portfolio-images-inner .item {
      width: 270px;
      margin-bottom: 5px; }
      .portfolio #portfolio-images-inner .item img {
        width: 100%;
        height: 100%; }

.team {
  padding: 77px 0 0 0;
  min-height: 770px; }
  .team__title {
    color: #333b46;
    font-family: "Source Sans Pro";
    font-size: 20px;
    font-weight: 400;
    width: 300px;
    letter-spacing: 4px;
    margin: 0 auto;
    text-align: center; }
    .team__title-text {
      color: #81868e;
      font-family: "Open Sans";
      font-size: 14px;
      font-weight: 400;
      width: 460px;
      line-height: 25px;
      margin: 35px auto 50px auto;
      text-align: center; }
  .team__carousel {
    max-width: 1100px;
    margin: 0 auto; }
    .team__carousel-worker {
      width: 1030px;
      height: 365px;
      margin-bottom: 50px;
      outline: none; }
      .team__carousel-worker:hover {
        cursor: pointer; }
      .team__carousel-worker .worker__photo {
        float: left; }
      .team__carousel-worker .worker__info {
        width: 45%;
        text-align: right;
        float: right; }
        .team__carousel-worker .worker__info-general {
          height: 42px;
          border-right: 4px solid #19bd9a;
          padding-right: 42px;
          margin-bottom: 30px;
          margin-top: 25px; }
          .team__carousel-worker .worker__info-general h3 {
            color: #464646;
            font-family: "Open Sans";
            font-size: 20px;
            font-weight: 400; }
          .team__carousel-worker .worker__info-general h4 {
            color: #81868e;
            font-family: "Source Sans Pro";
            font-size: 14px;
            font-weight: 300;
            font-style: italic;
            text-transform: uppercase; }
        .team__carousel-worker .worker__info p {
          color: #81868e;
          font-family: "Open Sans";
          font-size: 14px;
          font-weight: 400;
          line-height: 25px;
          width: 100%; }

/* Contact block 1 */
.contact {
  height: 200px;
  background-image: url(../images/bg-contact.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 55px; }
  .contact h3 {
    color: #fff;
    font-family: "Open Sans";
    font-size: 20px;
    font-weight: 400;
    width: 270px;
    opacity: 0.7;
    margin: 0 auto; }
  .contact .contact-us-btn {
    color: #fff;
    font-family: "Open Sans";
    font-size: 16px;
    font-weight: 400;
    display: block;
    width: 140px;
    height: 37px;
    border-radius: 18px;
    border: 1px solid #ffffff;
    background: transparent;
    opacity: 0.7;
    margin: 30px auto 0 auto; }
    .contact .contact-us-btn:hover {
      box-shadow: 0 0 10px rgba(225, 225, 225, 0.7);
      transform: scale(1.05);
      transition: all 0.3s;
      cursor: pointer; }

/* Contact block 2 */
.contact-us {
  width: 100%;
  padding-top: 50px; }
  .contact-us__title {
    color: #333b46;
    font-family: "Source Sans Pro";
    font-size: 20px;
    font-weight: 400;
    width: 300px;
    letter-spacing: 4px;
    margin: 0 auto;
    text-align: center; }
  .contact-us__title-text {
    color: #81868e;
    font-family: "Open Sans";
    font-size: 14px;
    font-weight: 400;
    width: 460px;
    line-height: 25px;
    margin: 35px auto 50px auto;
    text-align: center; }
  .contact-us__map {
    height: 440px;
    width: 100%; }

.testimonials {
  min-height: 650px;
  background: #f3f3f3;
  padding: 75px 0 0 0; }
  .testimonials__title {
    color: #333b46;
    font-family: "Source Sans Pro";
    font-size: 20px;
    font-weight: 400;
    width: 300px;
    letter-spacing: 4px;
    margin: 0 auto;
    text-align: center; }
  .testimonials__title-text {
    color: #81868e;
    font-family: "Open Sans";
    font-size: 14px;
    font-weight: 400;
    width: 460px;
    line-height: 25px;
    margin: 35px auto 50px auto;
    text-align: center; }
  .testimonials .comments {
    max-width: 1170px;
    margin: 0 auto;
    min-height: 315px;
    background: #fff; }
    .testimonials .comments__slide {
      padding: 50px 95px 0 95px;
      width: 100%;
      outline: none;
      cursor: pointer; }
      .testimonials .comments__slide img {
        display: block;
        float: left;
        width: 135px;
        height: 135px; }
      .testimonials .comments__slide-info {
        vertical-align: top;
        padding-top: 10px;
        width: 77%;
        float: right; }
        .testimonials .comments__slide-info p {
          color: #81868e;
          font-family: "Open Sans";
          font-size: 16px;
          font-weight: 400;
          line-height: 28px;
          word-wrap: break-word;
          width: 100%; }
        .testimonials .comments__slide-info h3 {
          color: #19bd9a;
          font-family: "Open Sans";
          font-size: 16px;
          font-weight: 700;
          margin-top: 15px; }
        .testimonials .comments__slide-info h4 {
          color: #464646;
          font-family: "Open Sans";
          font-size: 14px;
          font-weight: 400;
          margin-top: 5px; }
  .testimonials .slick-dots {
    position: inherit; }
  @media all and (max-width: 950px) {
    .testimonials .comments__slide img {
      margin: 0 auto;
      float: none; }
    .testimonials .comments__slide-info {
      float: none;
      text-align: center;
      margin: 0 auto; } }

.footer {
  padding-top: 70px; }
  .footer__info {
    width: 300px;
    margin: 0 auto;
    text-align: center; }
    .footer__info img {
      margin-bottom: 20px; }
    .footer__info p {
      color: #81868e;
      font-family: "Open Sans";
      font-size: 14px;
      font-weight: 400;
      margin-bottom: 35px; }
    .footer__info-links {
      width: 175px;
      margin: 0 auto;
      display: flex;
      justify-content: space-between; }
      .footer__info-links a:hover {
        transform: scale(1.2);
        transition: all 0.5s; }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }
